<h3> Login using your Username and Password.</h3>

<form>
  <div class="form-group">
    <label for="userNameInput">username:</label>
    <input type="input" class="form-control" id="userNameInput" aria-describedby="emailHelp" placeholder="Enter email">

  </div>
  <div class="form-group">
    <label for="userPassword">Password:</label>
    <input type="password" class="form-control" id="userPassword" placeholder="Password">
  </div>
  <div class="d-flex justify-content-center">
  <button type="submit" id="loginSubmit" class="btn btn-primary">Submit</button>
</div>
</form>

